  <tbody>
    <tr>
      <td data-title="Name"><%= link_to contact.guest_name, contact, class:"contact-link" %></td>
      <td data-title="Address"><%= contact.address %></td>
      <td data-title="Phone"><%= contact.phone %></td>
      <td data-title="Email"><%= contact.email %></td>
      <td data-title="Business"><%= contact.business.name %></td>
      <tr>
      </tbody>