<p style="color: green"><%= notice %></p>
<div class="contact-header">
<h1>Contacts</h1> 
<%= button_to "New contact", new_contact_path, :method => :get, class: "btn btn-secondary create-btn"%>
</div>
<%= search_form_for @q do |f| %>
<%= f.search_field :guest_name_or_buisness_or_address_cont, class:"form-control", placeholder:"Search"%> 
<% end %>
</br>
<div>
  <table class="table table-bordered table-color">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Buisness</th>
      </tr>
    </thead>
    <div id="contacts">
    <% @contacts.each do |contact| %>
    <%= render contact %>
    <% end %>
    </div>
  </table>
</div>


